{{- $profile := .profile | default "personal" -}}
{{- $name    := .name    | default "" -}}
{{- $email   := .email   | default "" -}}

[data]
  profile = {{ $profile | quote }}
  name    = {{ $name    | quote }}
  email   = {{ $email   | quote }}

[onepassword]
  command = "op"

[edit]
  command = "code"
  args    = ["--wait"]

[diff]
  pager = "less -R"

[git]
  autoCommit = true
  autoPush = true
